$heading-one: 'Caudex', serif;
$scene-title: 'Bitter', serif;
$file-number: 'Beth Ellen', cursive;
$profile-heading: 'Courier Prime', monospace;
$profile-time: 'Special Elite', cursive;
$handwriting:  'La Belle Aurore', cursive;
$event-text: aaux-next, sans-serif;

$profile-main: #E5CBA4;
$profile-shadow: #C3A77C;
$sticky: #FFA1A1;
$cork: #BA8D64;
$red: #D10909;