h1 {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: $menu;
    text-transform: uppercase;
}
p {
    font-family: 'Lora', serif;
    font-size: 0.925rem;
    color: $para;
    letter-spacing: 0.1rem;
    margin: 0 0 1.25rem 0;
    &.large {
        font-size: 1.825rem; 
    }
}