/* Colours */

$primary-light: #D09770;
$primary-medium: #875A42;
$primary-dark: #68402E;
$secondary: #5E5E5E;
$red: rgba(255,0,0,0.1);
$bg-overlay: rgba(21,30,35,0.85);
$bg-solid: #03070A;
$bg-alt: #101010;
$white: #ffffff;

$text-color-trans: color 0.3s ease-in-out;
$bg-color-trans: background-color 0.3s ease-in-out;

/* margins and padding */

$text-layout-phoriz: 2rem;
$text-layout-pvert: 2rem;
$movie-time-pvert: 0.125rem;
$related-events-pvert: 0.25rem;
$playbar-nav-pvert: 1rem;
$nav-arrow-m: 3rem;

/* other */

$line-length: 4rem;
$text-shadow: 0.6rem 0.6rem 1rem;
$playbar-width: 2rem;