//colours:
$primary: #000000;
$secondary: #FFFFFF;
$grey: #C4C4C4;
$red: #EF4F59;
$background-w: #F3F3F3;
$background-b: #3F3F3F;

//type:
$serif: 'Playfair Display', serif;
$sans-serif: 'Montserrat', sans-serif;